<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body class="bg">
    <%- include('partials/header.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm">
                    <br><br><br><br>
                    <div class="card card-signup z-depth-0 bg-ligth">
                        <div class="card-body text-center">
                            <% if(error[0].message){ %>
                                <% error.map(data => { %>
                                    <p class="text-danger"><%= data.message %></p>
                                <% }) %>
                            <% } else{ %>
                                <p class="text-danger"><%= error %></p> 
                            <% } %>
                            <a href="/contacts/edit/<%= id %>"> Back to edit form</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/jquery.ejs') %>
</body>
</html>